<html>
	<head><title>Web Guesser</title>
	</head>
	<body style='background: <%= bg_color %>'>
		<form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
		</form>
		<p>
		  <%= message %>
		</p>
	</body>
</html>
